body {
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke; }

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  font-weight: 600; }

h2 {
  color: #3046c5; }

header h2 {
  color: #cec8ff; }

footer {
  background-image: linear-gradient(to right, #a99eff, violet);
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, violet, purple, #3046c5);
  color: white;
  margin: 0; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar-dark {
  background-color: #901cad; }

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel img {
  /* border: solid #1ed0e7; */ }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* the buttons are overlaying on the carosuel thanks to the z-index */ }

#reserveModal .modal-header {
  background-color: #17a2b8;
  color: white; }

#loginModal .modal-header {
  background-color: #901cad;
  color: white; }
